{% extends "base2.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
  <div class="container container_logo">
    <img class= "img-responsive center-block" src="/static/img/banner_projectq.png">
  </div>
  <div class="container  content-1"> 
    <div class="page-header">
        <h1>Registro</h1>
    </div>
    <div class="col-md-4">
      En caso de resultar ganador del premio, se contactará por esta dirección de correo electrónico
        {{ wtf.quick_form(form) }}
        <p>
    </div>
    </div><!-- /.container -->


{% endblock %}

