{% extends "base.html" %}

{% block content %}
{% from "_formHelpers.html" import render_field %}

    <div class="container">
        <form class="form-horizontal" action="" method="post" name="question">
            {{form.hidden_tag()}}
            {#
            {% for fa in form %}
                {{render_field(fa)}}
            {% endfor %}
            #}
            {% for question in questions %}
                <table class="table table-hover"><td>
                    {% filter markdown %}{{question.text}}{% endfilter %}
                    {% set i= "c"'%s' % question.id %}
                    {{render_field(form[i])}}
                </td></table>
            {% endfor %}

            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Next">
                   {# <input class="btn btn-primary" type="submit" value="Next">#}
                </div>
            </div>
        </form>
    </div>
{% endblock %}