{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
{% from "_formHelpers.html" import render_field %}
{% from "_formHelpers.html" import render_field2 %}

<script language="javascript">
    function timestamp(){
        var t_fin = Date.now();
        document.getElementById("time").value = t_fin - t_ini;
        alert(document.getElementById("time").value);
    }
</script>

<script language="javascript">
    window.onload = function() {
        t_ini = Date.now();
}
</script>

    <div class="container">
        {% filter markdown %}{{section.description}}{% endfilter %}

        <form onsubmit="timestamp()" class="form-horizontal" action="" method="post" name="question">
            {{form.hidden_tag()}}
            {% for question in questions %}
            <table class="table table-hover"><td>
                    {% filter markdown %}{{question.text}}{% endfilter %}
                    {% set i= "c"'%s' % question.id %}
                    {{render_field2(form[i])}}
            </td></table>
            {% endfor %}

            <div class="control-group">
                <div class="controls">
                    <input class="btn" type="submit" value="Next">
                   {# <input class="btn btn-primary" type="submit" value="Next">#}
                </div>
            </div>
        </form>
    </div>
{% endblock %}