<!-- extend base layout -->
{% extends "pregunta/pregunta.html" %}

{% block pregunta_extendida %}
<!--     <form action="" method="post" name="seleccion">
    {{seleccionForm.hidden_tag()}} -->
        <p>{{seleccionForm.texto1}}</p>
        <p>{{seleccionForm.texto2}}</p>
        <p>{{seleccionForm.texto3}}</p>
        <p>{{seleccionForm.texto4}}</p>
        <p>{{seleccionForm.texto5}}</p>
        <p>{{seleccionForm.texto6}}</p>
        <p>{{seleccionForm.texto7}}</p>
        <p>{{seleccionForm.texto8}}</p>
        <p>{{seleccionForm.texto9}}</p>
    <p><input type="submit" value="Siguiente"></p>

    </form>
    esto es una pregunta selección
{% endblock %}