{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <div>
        {% filter markdown %}{{text}}{% endfilter %}
    </div>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['user', 'answer' ],
          ['you',  {{ans}} ],
          ['avg',  {{avg}}]
        ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }
                       ]);

        var options = {
          minPointLength: 10,
          title: 'Average',
          legend: { position: "none" },
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      chart.draw(view, options);
      }
    </script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Answer', '%'],
          ['Same',     {{percent}}],
          ['Different',      {{1-percent}}]
        ]);

        var options = {
          title: '% with same answer',
          legend: 'labeled',
          pieSliceText: 'none',
          tooltip: { trigger: 'none' },
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>
      {% if percent5 is defined %}
          <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawChart);
            function drawChart() {
              var data = google.visualization.arrayToDataTable([
                ['Answer', '%'],
                ['Accept',     {{percent}}],
                ['refuse',      {{1-percent}}]
              ]);

              var options = {
                title: '% user than have accepted your division',
                legend: 'labeled',
                pieSliceText: 'none',
                tooltip: { trigger: 'none' },
              };

              var chart = new google.visualization.PieChart(document.getElementById('decision5'));
              chart.draw(data, options);
            }
          </script>
    {% endif %}

    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
    {% if percent5 is defined %}
        <div id="decision5" style="width: 900px; height: 500px;"></div>
    {% endif %}
    <form action="" method="post" name="secion">
      <input class="btn" type="submit" value="Next">
    </form>
{% endblock %}