{% extends "base2.html" %}

{% block content %}
  <div class="container container_logo">
    <img class= "img-responsive center-block" src="/static/img/banner_projectq.png">
  </div>
  <div class="container  content-1"> 
    <p>
       <!-- <h2>Gracias por participar, pero ya has sobrepasado el tiempo máximo para la realización del experimento.</h2>-->
<h2>Estamos analizando los datos que hemos obtenido en una primera oleada. El experimento no está disponible. Si necesitaremos más voluntarios volveremos a abrirlo en el otoño. Gracias por su interés.</h2>    
<p><a class="btn btn-content" href="{{url_for('main.index')}}">Volver</a></p>
    <p>
</div><!-- /.container -->
{% endblock %}
