{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        {% for survey in surveys %}
            <table class="table table-hover">
                <td>
                    <h2><a href="{{ url_for('surveys.logicSurvey', id_survey = survey.Survey.id) }}">{{survey.Survey.title}}</a></h2>
                    {% filter markdown %}{{survey.Survey.description}}{% endfilter %}
                    {{ _('State:') }}
                    {% if survey.status == None %}
                        {{ _('without starting') }}
                    {% endif %}
                    {% if survey.status == 0 %}
                        {{ _('without finish') }}
                    {% endif %}
                    <br>Respondents {{survey.r_count}} of {{survey.Survey.maxNumberRespondents}} 
                </td>
            </table>
       {% endfor %}
    </div>
{% endblock %}