{% macro renderSections(sections, survey) %}
    <ul class="sections">
        {%- for section in sections recursive %}
            <table class="table table-hover">
                <td>
                    <li><h2><a href="{{ url_for('researcher.editSection', id_section = section.id, id_survey =  survey.id) }}">{{section.title}}</a></h2>
                    {% filter markdown %}{{section.description}}{% endfilter %}
                    <p>Sequence: {{section.sequence}}</p>
                    <p>Percent: {{section.percent}}</p>
                    <a href="{{ url_for('researcher.deleteSection', id_section = section.id, id_survey =  survey.id) }}">{{ ('Delete') }}</a>
                    <a href="{{ url_for('researcher.addSubSection', id_section = section.id, id_survey =  survey.id) }}">{{ ('Add subsection') }}</a>
                    <a href="{{ url_for('researcher.addQuestion', id_survey = survey.id, id_section = section.id) }}">{{ ('Add/Edit question') }}</a>
                </td>
            </table>
            {%- if section.children %}
                <ul class="submenu">{{ loop (section.children)}}</ul>
            {%- endif %}</li>
        {%- endfor %}    
    </ul>
{% endmacro %}