{% macro renderQuestions(questions, section,survey) %}
    {%- for question in questions  %}
        <table class="table table-hover">
            <td>
                {% filter markdown %}{{question.text}}{% endfilter %}
                <a href="{{ url_for('researcher.editQuestion', id_section = section.id, id_survey =  survey.id, id_question = question.id) }}">{{ ('Edit') }}</a>
                <a href="{{ url_for('researcher.deleteQuestion', id_section = section.id, id_survey =  survey.id, id_question = question.id) }}">{{ ('Delete') }}</a>
            </td>
        </table>
    {%- endfor %}    
{% endmacro %}