{% extends "base.html" %}

{% block content %}
{% from "_formHelpers.html" import render_field %}

  <legend>Section!</legend>
    <form action="" method="post" name="secion">
        {{form.hidden_tag()}}
        <table>
        {{ render_field(form.title, size = 64) }}
        {{ render_field(form.description) }}
        {{ render_field(form.sequence) }}
        {{ render_field(form.percent) }}
        </table>
        {% if addSection  %}
            <input type="submit" value="Add Section">
        {% endif %}
        {% if editSection  %}
            <input type="submit" value="Edit Section">
        {% endif %}
        {% if addSubSection  %}
            <input type="submit" value="Add SubSection">
        {% endif %}
                <a href="{{ url_for('researcher.editSurvey', id_survey = id_survey) }}">{{ ('Back') }}</a>
    </form>
    {% for section in sections %}
            {% include 'researcher/subSection.html' %}
    {% endfor %}

{% endblock %}