{% extends "base.html" %}
{% from "_formHelpers.html" import render_field %}
{% from "_formHelpers.html" import render_field2 %}
{% from "_formHelpers.html" import render_field3 %}
{% from "researcher/_renderQuestions.html" import renderQuestions %}

{% block content %}


 <legend>
    <h1><a href="{{ url_for('researcher.editSurvey', id_survey = survey.id) }}">{{survey.title}}</a></h1>
    <h3>Add Question!</h3>
</legend>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            <div class="well">
                    <ul class="sections">
                    {%- for section in sections recursive %}
                        <li><a href="{{ url_for('researcher.editSection', id_section = section.id, id_survey =  survey.id) }}">{{section.title}}</a>

                        {%- if section.children %}
                            <ul class="submenu">{{ loop (section.children)}}</ul>
                        {%- endif %}</li>
                    {%- endfor %}
                    </ul>
            </div>
        </div>
        <div class="span10">
            <!--Body content-->
            <div class="well">
                <form method="post" class="form-horizontal">
                    {{form.hidden_tag()}}
                    <fieldset>
                    {{ render_field3(form.text,rows = 10, style = 'width:100%') }}
                    {{ render_field3(form.required) }}
                    {{ render_field3(form.registerTime) }}
                    {{ render_field3(form.questionType) }}
                    <div id="divText">
                        {{ render_field3(form.isNumber) }}
                        {{ render_field3(form.regularExpression) }}
                        {{ render_field3(form.errorMessage) }}
                    </div>
                        {{ render_field3(form.expectedAnswer, placeholder='none if There isnt correct answer') }}
                        {{ render_field3(form.maxNumberAttempt) }}
                    <div id="divLikert">
                        {{ render_field3(form.minLikert) }}
                        {{ render_field3(form.maxLikert) }}
                        {{ render_field3(form.labelMinLikert,placeholder='label optional') }}
                        {{ render_field3(form.labelMaxLikert, placeholder='label optional') }}
                    </div>
                    <div id="divChoices">
                        {{ render_field3(form.numberFields) }}
                    </div>
                    <div id="divAnswer1">
                        {{ render_field3(form.answer1) }}
                    </div>
                    <div id="divAnswer2">
                        {{ render_field3(form.answer2) }}
                    </div>
                    <div id="divAnswers">
                        {{ render_field3(form.answer3) }}
                        {{ render_field3(form.answer4) }}
                        {{ render_field3(form.answer5) }}
                        {{ render_field3(form.answer6) }}
                        {{ render_field3(form.answer7) }}
                        {{ render_field3(form.answer8) }}
                        {{ render_field3(form.answer9) }}
                    </div>
                    <div id="is_real_money">
                        {{ render_field3(form.is_real_money)}}
                    </div>
                    <td></td>
                    <td>
                        {% if addQuestion %}
                            <input class="btn" type="submit" value="Add Question">
                        {% endif %}
                        {% if editQuestion %}
                            <input class="btn" type="submit" value="Edit Question">
                        {% endif %}
                    </td>
                <fieldset>
                </form>
            </div>
            {{ renderQuestions(questions, section, survey)}}

        </div>
    </div>
</div>
<script language="javascript">
    function onchange(selValue)
    {
        $("#divText").hide();
        $("#divLikert").hide();
        $("#divChoices").hide();
        $("#divAnswer1").hide();
        $("#divAnswer2").hide();
        $("#divAnswers").hide();
        $("#is_real_money").hide();

        if (selValue=="text")
        {
            //document.getElementById("divAnswer").style.display="none";; 
            $("#divText").show();
        }
        if (selValue=="choice")
        {
            $("#divChoices").show();
            $("#divAnswer1").show();
            $("#divAnswer2").show();
            $("#divAnswers").show();

        }
        if (selValue=="likertScale")
        {
            $("#divLikert").show();
        }
        if (selValue=="partTwo")
        {
            $("#divAnswer1").show();
            $("#divAnswer2").show();
            $("#is_real_money").show();
        }
        if (selValue=="decisionOne")
        {
            $("#is_real_money").show();
        }
        if (selValue=="decisionOne")
        {
            $("#is_real_money").show();
        }
        if (selValue=="decisionTwo")
        {
            $("#is_real_money").show();
        }
        if (selValue=="decisionThree")
        {
            $("#is_real_money").show();
        }
        if (selValue=="decisionFour")
        {
            $("#is_real_money").show();
        }
        if (selValue=="decisionFive")
        {
            $("#divAnswer1").show();
            $("#is_real_money").show();
        }
        if (selValue=="decisionSix")
        {
            $("#is_real_money").show();
        }
    }
    window.onload = function() {
        $("#divText").hide();
        $("#divLikert").hide();
        $("#divChoices").hide();
        $("#divAnswer1").hide();
        $("#divAnswer2").hide();
        $("#divAnswers").hide();
        document.getElementById('questionType').value = '{{type}}';
        onchange('{{type}}');
}
    var select = document.getElementById("questionType");
    select.onchange = function() {
    var selIndex = select.selectedIndex;
    var selValue = select.options[selIndex].value;
    onchange(selValue)
}
</script>
{% endblock %}