<p><h3>{{section.id}}</h3></p>
<p>{{section.tittle}}</p>
<p>Description: {{section.description}}</p>
<p>Sequence: {{section.sequence}}</p>
<p>Percent: {{section.percent}}</p>
<a href="{{ url_for('researcher.editSection', id_section = section.id, id_survey =  survey.id) }}">{{ ('Edit') }}</a>
{#
<a href="{{ url_for('researcher.deleteConsent', id_consent = consent.id, id_survey = id_survey) }}">{{ ('Delete') }}</a>
<a href="{{ url_for('researcher.editConsents', id_consent = consent.id, id_survey = id_survey) }}">{{ ('Edit') }}</a>

<a href="{{ url_for('researcher.editSurvey', id_survey = survey.id) }}">{{ ('Edit') }}</a>
<a href="{{ url_for('copiar', id = pregunta.id) }}">{{ ('Copiar') }}</a>
<a href="{{ url_for('editar', id = pregunta.id) }}">{{ ('Editar') }}</a>
<a href="{{ url_for('eliminar', id = pregunta.id) }}">{{ ('Eliminar') }}</a>}
#}