{% extends "base.html" %}

{% block content %}
<h2>Done! part_two and matching</h2>
<a href="{{ url_for('stats.run') }}">run matchind & part two</a> <br/>
<a href="{{ url_for('stats.stats') }}">part two</a> <br/>
<a href="{{ url_for('stats.part_two') }}">part two</a> <br/>
<a href="{{ url_for('stats.decision_one_v1') }}">decision one v1</a> <br/>
<a href="{{ url_for('stats.decision_one_v2') }}">decision one v2</a> <br/>
<a href="{{ url_for('stats.decision_two') }}">decision two</a> <br/>
<a href="{{ url_for('stats.decision_three') }}">decision three</a> <br/>
<a href="{{ url_for('stats.decision_four_five') }}">decision four five</a> <br/>
<a href="{{ url_for('stats.decision_six') }}">decision six</a> <br/>

{% endblock %}