{% macro render_field(field) %}
    <div class="control-group {% if field.errors %} error {% endif %}">
        <tr>
            <td>{{ field.label(class="control-label") }}</td>
            <td> {{field(**kwargs)}}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span style="color: red;" class="help-inline">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
    </div>
{% endmacro %}

{% macro render_field2(field) %}
    <div class="control-group {% if field.errors %} error {% endif %}">
        {{field(**kwargs)}}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span style="color: #E74C3C;" class="help-inline">{{ error }}</span>
                {% endfor %}
            {% endif %}
    </div>
{% endmacro %}

{% macro render_likert(field,labelMin,labelMax) %}
    <div class="control-group {% if field.errors %} error {% endif %}">
        {{labelMin, labelMax}}
        {{labelMin}}{{field(**kwargs)}}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span style="color: red;" class="help-inline">{{ error }}</span>
                {% endfor %}
            {% endif %}
    </div>
{% endmacro %}

{% macro render_field3(field, addon, prepend, tooltip) %}
    <div class="control-group {% if field.errors %} error {% endif %}">
        {% if tooltip %}
        {{ field.label(class="control-label", style='width:148px') }}
        <div style="float:left; padding-top:5px;margin-bottom:5px;font-size:18px;">
            &nbsp;<i rel="tooltip" data-title="{{tooltip|safe}}" class="icon-question-sign"></i></div>
        {% else %}
        {{ field.label(class="control-label") }}
        {% endif %}
        <div class="controls">
            {% if addon %}
            <div class="{% if prepend %}input-prepend{%else%}input-append{%endif%}">
                {% if prepend %}
                <span class="add-on">{{addon|safe}}</span>
                {{field(**kwargs)}}
                {% else %}
                {{field(**kwargs)}}
                <span class="add-on">{{addon|safe}}</span>
                {% endif %}
            </div>
            {% else %}
                {{field(**kwargs)}}
                {% endif %}
            {% if field.errors %}
                {% for error in field.errors %}
                <span class="help-inline">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}