{% macro render_field(field) %}
    <div class="control-group {% if field.errors %} error {% endif %}">
        <tr>
            <td>{{ field.label(class="control-label") }}</td>
            <td> {{field(**kwargs)}}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span style="color: red;" class="help-inline">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
    </div>
{% endmacro %}

{% macro render_field2(field) %}
    <div class="control-group {% if field.errors %} error {% endif %}">
        {{field(**kwargs)}}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span style="color: red;" class="help-inline">{{ error }}</span>
                {% endfor %}
            {% endif %}
    </div>
{% endmacro %}
