{% extends "base.html" %}

{% block content %}
    <h1>Preguntas!</h1>
    {% for pregunta in preguntas %}
        <p>{{pregunta.id}}<b> tipo: </b>{{pregunta.discriminador}}<b> obligatoria </b>{{pregunta.obligatoriedad}} <b> texto: </b> {{pregunta.texto}}</p>
        {% if pregunta.discriminador == "seleccion" %}
            {% for opcion in pregunta.opciones %}
                {{opcion}} || 
            {% endfor %}                
        {% endif %}        
        <div>
            <a href="{{ url_for('copiar', id = pregunta.id) }}">{{ ('Copiar') }}</a>
            <a href="{{ url_for('editar', id = pregunta.id) }}">{{ ('Editar') }}</a>
            <a href="{{ url_for('eliminar', id = pregunta.id) }}">{{ ('Eliminar') }}</a>

        </div>
    {% endfor %}
{% endblock %}