{% extends "base2.html" %}

{% block content %}
<div class="projectQ">
    <div class="media" style="padding-bottom: 9px;">
      <a class="pull-left" href="{{ url_for('surveys.logicSurvey', id_survey = 1) }}">
        <img class="media-object img-responsive" src="/static/img/PQ_logo.png" width="270" height="291"  alt="...">
      </a>
      <div class="media-body">
        <h1 class="media-heading titulo_encuesta">Ciencias sociales, ciencias ciudadanas</h1></a>
<p><a href="http://www.ibercivis.es">La Fundación Ibercivis</a>, en su recorrido con experimentos de ciencia ciudadana, ha logrado una fructífera colaboración de los ciudadanos con la investigación científica. Sin embargo, en el ámbito de las ciencias sociales no está desarrollado suficientemente este tipo de investigación. Por este motivo y en colaboración con la Universidad Carlos III de Madrid, el BIFI de la Universidad de Zaragoza, la Universidad de Granada y la Middlesex University de Londres, se ha ideado una plataforma de acceso on line donde la ciudadanía simplemente debe completar un cuestionario en forma de experimento.</p>
        <div class="row text-center">
            <a class="btn btn-custom" href="{{ url_for('surveys.logicSurvey', id_survey = 1) }}">Participa <b>Ahora</b></a>
        </div>
        <p>
<p>Este novedoso proyecto permitirá valorar en qué medida puede la ciencia ciudadana ser utilizada por las ciencias sociales. La plataforma estará abierta hasta que se obtenga un número suficiente de participantes.
</p>
<p>En un tiempo mínimo de media hora y máximo de 1 hora, los interesados podrán rellenar la encuesta una y sólo una vez, al mismo tiempo que optarán, mediante sorteo, a recibir diferentes importes en bonos <a href="http://www.amazon.es">Amazon</a>. Al final de cada día, se contactará vía e-mail con los agraciados. 
</p>
<p>La investigación va dirigida a todo tipo de público, con el único requisito de que dispongan de una dirección de email, además de ser mayores de edad. Los participantes pasarán a ser considerados voluntarios potenciales de Ibercivis. La contribución de todos aquellos que respondan a la encuesta será muy valiosa para el diseño de futuras investigaciones.</p>
      </div>
    
    </div>
</div>


<!-- <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p> -->
{% endblock %}