{% extends "base2.html" %}

{% block content %}
<div class="projectQ">
    <div class="media" style="padding-bottom: 9px;">
      <a class="pull-left" href="{{ url_for('surveys.logicSurvey', id_survey = 1) }}">
        <img class="media-object img-responsive" src="/static/img/PQ_logo.png" width="270" height="291"  alt="...">
      </a>
      <div class="media-body">
        <h1 class="media-heading titulo_encuesta">Ciencias sociales, ciencias ciudadanas</h1></a>
<p><a href="http://www.ibercivis.es">La Fundación Ibercivis</a>, en su recorrido con experimentos de ciencia ciudadana, ha logrado una fructífera colaboración de los ciudadanos con la investigación científica. Sin embargo, en el ámbito de las ciencias sociales no está desarrollado suficientemente este tipo de investigación. Por este motivo y en colaboración con la Universidad Carlos III de Madrid, el BIFI de la Universidad de Zaragoza, la Universidad de Granada y la Middlesex University de Londres, se ha ideado una plataforma de acceso on line donde la ciudadanía simplemente debe completar un cuestionario en forma de experimento.</p>
        <div class="row text-center">
            <a class="btn btn-custom" href="{{ url_for('surveys.logicSurvey', id_survey = 1) }}">Participa <b>Ahora</b></a>
        </div>
        <p>
<p>Este novedoso proyecto permitirá valorar en qué medida puede la ciencia ciudadana ser utilizada por las ciencias sociales. La plataforma estará abierta hasta que se obtenga un número suficiente de participantes.
</p>
<p> En un tiempo aproximado de 40 minutos, los interesados podrán rellenar la encuesta una y sólo una vez. Una vez empezada la encuesta dispondrán de un <b>máximo de 120 minutos para completarla</b>. Al mismo tiempo serán considerados para el sorteo mediante el cual uno de cada diez participantes recibirá una compensación económica, en forma de bonos de compra <a href="http://www.amazon.es">Amazon</a>. Los bonos serán enviados a los agraciados a través del correo electrónico facilitado, en los días siguientes de cumplimentar la encuesta. 
</p>
<p>La investigación va dirigida a todo tipo de público, con el único requisito de que dispongan de una dirección de email, además de ser mayores de edad. Los participantes pasarán a ser considerados voluntarios potenciales de Ibercivis. La contribución de todos aquellos que respondan a la encuesta será muy valiosa para el diseño de futuras investigaciones.</p>
      </div>
    
    </div>
</div>

{% endblock %}

