{% extends "base2.html" %}

{% block content %}
<div class="projectQ">
    <div class="media" style="padding-bottom: 9px;">
      <a class="pull-left" href="{{ url_for('surveys.logicSurvey', id_survey = 1) }}">
        <img class="media-object" src="/static/img/PQ_logo.png" width="270" height="291"  alt="...">
      </a>
      <div class="media-body">
        <h1 class="media-heading"><a class="titulo_encuesta" href="{{ url_for('surveys.logicSurvey', id_survey = 1) }}">¿Cómo son nuestros voluntarios?</h1></a>
El proyecto se propone caracterizar de manera detallada el perfil de los voluntarios que toman parte en los proyectos de ciencia ciudadana de Ibercivis. El punto de partida es el trabajo "Experimental subjects are not different" [F. Exadaktylos, A. M. Espín & P. Brañas-Garza, Sci. Rep. 3, 1213 (2013)], donde se comparó a los sujetos experimentales típicos de los laboratorios de economía con la población general. Los resultados de la acción en Ibercivis permitirían:
        <ul>
            <li>Comparar a los voluntarios de Ibercivis con la muestra de población general del trabajo citado y analizar su representatividad</li>
            <li>Caracterizar a una población amplia de voluntarios para después solicitar su colaboración en futuros proyectos seleccionándolos conforme a su perfil</li>
        </ul>
        <div class="row text-center">
            <a class="btn btn-custom" href="{{ url_for('surveys.logicSurvey', id_survey = 1) }}">Participa <b>Ahora</b></a>
        </div>
      </div>
    
    </div>
</div>


<!-- <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p> -->
{% endblock %}